<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:beans="http://www.springframework.org/schema/lang"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.1.xsd">

<!--   Spring OpenID Authentication -->

    <!--<security:global-method-security-->
            <!--secured-annotations="enabled">-->
    <!--</security:global-method-security>-->


    <security:global-method-security
            secured-annotations="enabled">
    </security:global-method-security>

    <security:http>
        <security:logout />
        <security:openid-login
                authentication-failure-handler-ref="authenticationFailureHandler"
                default-target-url="/"
                authentication-success-handler-ref="authenticationSuccessHandler"
                user-service-ref="customUserDetailsService" >

            <security:attribute-exchange identifier-match="https://www.google.com/.*">
                <security:openid-attribute name="axContactEmail" type="http://axschema.org/contact/email"

                                  required="true"/>

                <security:openid-attribute name="oiContactEmail" type="http://schema.openid.net/contact/email"

                                  required="true"/>

                <security:openid-attribute name="axNamePersonFullname" type="http://axschema.org/namePerson"

                                  required="true"/></security:attribute-exchange>

        </security:openid-login>
    </security:http>




    <security:authentication-manager alias="authenticationManager">

        <security:authentication-provider user-service-ref="userAuthenticationProvider"/>
        <beans:alias name="customUserDetailsService" alias="userAuthenticationProvider"/>

    </security:authentication-manager>


    <beans:bean id="authenticationFailureHandler"

                class="com.openid.service.impl.CustomFailureHandler">

        <beans:property name="defaultFailureUrl" value="/access-denied"/>

        <beans:property name="companyInfoURL" value="/register/companyInformation" />

    </beans:bean>



    <beans:bean id="authenticationSuccessHandler"

                class="com.openid.service.impl.CustomSuccessHandler">

        <beans:property name="companyInfoURL" value="/register/companyInformation"/>

    </beans:bean>


    <beans:bean id="customUserDetailsService"

                class="com.openid.service.impl.CustomUserDetailsService"/>



    <!--  Till here-->


<!--   Spring security Form -->

    <security:http auto-config="true" use-expressions="true">
        <security:form-login login-page="/login"
        authentication-failure-url="/login?error"/>
        <security:intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
        <security:logout logout-success-url="/logout" />
    </security:http>


<!--
   <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider>
            <security:user-service>
                <security:user name="akkhil2012"
                               password="12345"
                               authorities="ROLE_USER"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
    -->
</beans>